.contratamos-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 337px;
  margin-bottom: 56px;
  flex-direction: row;
}

.contratamos-text{
  margin-right: 120px;
}