.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: auto;
    box-sizing: inherit;
}


.logo {
    width: 87px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    align-self: center;
}

button {
    background-color: transparent;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    width: auto;
    height: 72px;
    border: 0px;
    font-weight: 400;
    padding: 20px;

    cursor: pointer;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

button:hover {
    color: rgb(33, 150, 243);
}

.comencemos{
    background-color: #2196f3;
    color: #ffff;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    margin: 0 16px;
    font-weight: 500;
    align-self: center;

}
.comencemos:hover{
    color: #ffff;
}

.other {
    width: 24px;
    height: 24px;
    padding: 0 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.other-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.comenzemos-container {
    height: 72px;
    display: flex;
}

.nav-container{
    padding-inline-start: 40px;
    padding-inline: 8px;
}